@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@theme {
	--color-background: #181818;
	--color-card: #212121;
	--color-text: #ffffff;
	--color-card-hover: #1f1f1f;
	--color-text-muted: #a0a0a0;
}
